@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.min.css");

body { 
  font-family: 'Roboto', sans-serif;
  background: #191717;
}

.navbar {
  padding-top: 0% !important;
}

.custom-text-color-navbar {
  background-color: #0b0b0b !important;
  padding: 0.7% !important;
}

.custom-text-color {
  color: #ffffff !important;
}
