@import url("bootstrap/dist/css/bootstrap.min.css");

html, body {
  margin: 0;
  min-height: 100%;
}

body { 
  font-family: 'Roboto', sans-serif;
  background: #0f0e0e;
}

.navbar {
  padding-top: 0% !important;
  background-color: #0b0b0b00 !important;
}

.custom-text-color-navbar {
  background-color: #0b0b0b00 !important;
  padding: 0.7% !important;
}

.custom-text-color-navbar {
  background-color: #0b0b0b !important;
  padding: 0.7% !important;
}

.custom-text-color {
  color: #ffffff !important;
}

.nav {
  background-color: #121212;
  color: white;

  height: 45px;
  padding: 5px 15%;
}

.nav header { 
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 800; 
}

.nav header a { 
  text-decoration: none; 
  background-color: #191717;
  border: 1px solid #191717;
  border-radius: 5px;
  width: 200px;
  color: black;
  padding: 4px;
}

.nav .nav-end {
  display: flex;
  margin-left: auto;
}

.nav .nav-end .link-favoritos {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.nav .nav-end .link-favoritos:hover {
  color: #2b2929;
}

@media screen and (max-width: 720px) {
  .nav {
    padding: 5px 2%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2% 15%;
}

@media screen and (max-width: 500px) {
  .content {
    padding: 2%;
  }
}

.content h1 {
  color: #ffffff;
  margin: 0;
  font-size: 30px;
}

.posters-filmes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 20px;
}

.posters-filmes .poster-filme {
  cursor: pointer;
}

.posters-filmes .poster-filme img {
  width: 100%;
  border-radius: 5px;
}

.posters-filmes .poster-filme p {
  text-align: center;
}

.posters-filmes .poster-filme:hover {
  color: #2b2929;
  font-weight: 600;
}

.aviso {
  display: none;
  margin: 0;
  position: absolute;
  font-size: 18px;
}

.header-favoritos {
  display: none;
}

.borda-filme-favorito {
  border: 3px solid #ff0000;
}

.versao {
  margin-left: 10px;
}
